<div class="container">
	<h2>Departures from <%= @station_code['name'] %></h2>

	<table class="table">
	<thead>
		<tr>
			<td><b>Abbr.</b></td>
			<td><b>Departure time from <%= @station_code['abbr'] %></b></td>
			<td><b>Arrival time</b></td>
			<td><b>Train number</b></td>
		</tr>
	</thead>
	<% @departures['root']['station']['item'].each do |departure| %>
	<tbody>
		<tr>
			<td><%= departure['trainHeadStation'] %></td>
			<td><%= departure['origTime'] %></td>
			<td><%= departure['destTime'] %></td>
			<td><%= departure['trainIdx'] %></td>
		</tr>
	<% end %>
	</tbody>
	</table>
</div>
